<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>Edit Logic</h1>
            {{else}}
                <h1>Create Logic</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">Basic</button>
			</div>
		</div>
	</div>

	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">Basic</a></li>
		</ul>

		 <form id="logic-form" action="" method="post">
		 	<div class="pill-content">
		 		<div class="active basic_view" id="basic">
		 			<div class="clearfix">
		 				<label for="name">Name</label>
		 				<div class="input">
		 					<input class="span4" id="name" name="name" type="text" placeholder="Name" value="${data.name}" rel="popover" data-content="Friendly name for this Logic"/>
		 				</div>
		 			</div>

		 			<div class="clearfix">
		 				<label for="record_pin">Logic Url</label>
		 				<div class="input">
		 					<input class="span4" id="voice_uri" name="voice_uri" type="text" placeholder="Logic Url" value="${data.voice_uri}" rel="popover" data-content="Url to HTTP GET request to implement users own logic."/>
		 				</div>
		 			</div>

		 		</div>
		 	</div>
		 </form>
		 <div class="buttons-right">
	        {{if data.id}}
	            <button class="btn danger logic-delete">Delete</button>
	        {{/if}}
            <button class="btn success logic-save">Save</button>
		</div>
	</div>
</div>
